* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  min-height: 100vh;
  background-image: linear-gradient(
    to right top,
    #fdfaf6,
    #f9f5f1,
    #f5f1eb,
    #f2ece6,
    #eee8e1,
    #eee8e1,
    #eee8e1,
    #eee8e1,
    #f2ece6,
    #f5f1eb,
    #f9f5f1,
    #fdfaf6
  );
}
